/* THESE ARE THE MAIN COLORS USED IN THE WEBSITE, FOR REFERENCE PURPOSE ONLY */

.white {
    background-color: #ffffff; /* Foreground */
}

.purple-600 {
    background-color: #9810fa; /* Accent */
}

.gray-100 {
    background-color: #f3f4f6; /* Background */
}

.gray-200 {
    background-color: #e5e7eb; /* Hover */
}

.gray-600 {
    background-color: #4a5565; /* Icon, Headings */
}

.gray-700 {
    background-color: #364153; /* Text */
}